<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <RollingFile name="LogToRollingFile" fileName="logs/app.log"
                 filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
        <PatternLayout>
            <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
        </PatternLayout>
        <Policies>
            <TimeBasedTriggeringPolicy />
            <SizeBasedTriggeringPolicy size="1 MB"/>
        </Policies>
    </RollingFile>
</Configuration>